body {
    background-color: whitesmoke;
}

.head {
    text-align: center;
}

.head p {
    margin-bottom: 0%;    
    margin-top: 0%;
}


.body h4 {
    font-weight: bold;
}

.linkedin a {
    font-size: 26px;
}



